html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: rgb(195, 189, 189);
}

.container {
  width: 500px;
  min-height: 200px;
  background-color: rgb(227, 222, 222);
  box-shadow: -5px 5px #d1d9d9;
  border-radius: 5px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.w-95 {
  width: 95% !important;
}

.task-count {
  position: absolute;
  bottom: 10px;
  left: 10px;   
  font-size: 16px;
  color: #7f7d7d; 
}


.list-group-item button {
  opacity: 0;
}

.list-group-item button:hover {
  opacity: 1;
}


.delete-all-btn {
  opacity: 1 !important;
}

h1 {
  color: rgb(148, 137, 137);
}